extends layout

block content
  h1= title
  p= "Name: " + contact.firstName + ' '+ contact.lastName
  p= "Email Address: " + contact.emailAdd 
  p= "Contact Notes: " + contact.contactNotes 
  p= "Last Modified Time: " + contact.lastModefiedTime
  div.contact-actions  
     a(href=`/contacts/${contact.id}/delete`) Delete Contact 
     | 
     br
     a(href=`/contacts/${contact.id}/edit`) Edit Contact 
